body {
  padding: 0;
  margin: 0;
}
.head-page {
  width: 1440px;
  padding: 0;
  margin: 0 auto;
}
header {
  margin-top: 25px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.nav_items {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.nav_items li {
  list-style: none;
}
.nav_items a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.search > input {
  font-size: 15px;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
}
.bottom-header {
  width: 1440px;
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
}
.bottom-header input {
  font-size: 64px;
  color: #c4c4c4;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #c4c4c4;
  width: 985px;
}
.nav-site {
  font-size: 24px;
}
.product-list {
  margin: 0;
  width: 43%;
  position: absolute;
  left: 34%;
  font-size: 24px;
  /* background-color: #ff3d00;
  height: 50px; */
}
.product-list > li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  background-color: #fff;
  box-shadow: 2px 2px 30px 2px black;
}
.product-list > li > :first-child {
  /* flex-grow: 1; */
  /* flex-basis: 30%; */
  width: 30%;
}
.product-list > li > :last-child {
  /* flex-grow: 4; */
  /* flex-basis: 70%; */
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
}
.product-list img {
  max-width: 100%;
}
.basket img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* content page  */
.page {
  width: 1440px;
  margin-top: 30px;
  display: flex;
  background-color: #c4c4c4;
}
/* FILTER */
.filter {
  width: 600px;
  height: 975px;
  background-color: #fff;
  margin: 20px;
  border: 1px solid #a04955;
}
/* .products-filter {
  min-width: 22%;
  height: fit-content;
} */

.products-filter-container {
  /* display: flex;
  flex-direction: column; */
  padding: 0 20px;
}

.filter-wrapper {
  padding: 5px 0;
  border-bottom: 1px solid var(--main-color);
}

.filter-name {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  cursor: pointer;
}

.filter-parameters-size,
.filter-parameters-color {
  display: flex;

  flex-wrap: wrap;
}
.filter-parameters-size label {
  font-size: 24px;
}
.size-parameter,
.color-parameter {
  width: 2rem;
  height: 2rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 1rem;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 1s linear;
}
.color-parameter:hover {
  transform: scale(1.2);
}
.size-parameter:hover {
  transform: scale(1.2);
}
.colors_parameters {
  width: 20px;
  height: 20px;
  font-size: 24px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  background-color: #c4c4c4;
  padding: 0 60px 20px 60px;
}

.pagination div {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #a04955;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

.img-card {
  width: 250px;
  height: 250px;
}
/**/
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards {
  text-align: center;
  width: 315px;
  height: 515px;
  background-color: #fff;
  margin: 20px;
  padding-top: 25px;
}
.name-product {
  width: 300px;
  height: 70px;
  margin-top: 20px;
  font-size: 20px;
}
.price-product {
  font-size: 18px;
}
.btn-add {
  width: 135px;
  height: 35px;
  font-size: 14px;
  background-color: #a04955;
  color: #ffffff;
  cursor: pointer;
}
.class-size {
  width: 284px;
  padding: 10px;
  height: 100px;
  border: 1px solid;
  font-size: 24px;
}
.btn-size {
  width: 280px;
}

.btn-size :hover {
  display: flex;
}

.colors > div {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 15px 5px 10px 5px;
  cursor: pointer;
  border: 1px solid black;
}

/* LOADER CSS */
.hide-loader {
  display: none !important;
}
.loader-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(38, 38, 128, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slider-prev {
  width: 100px;
  height: 50px;
  background-color: blue;
}
.slider-next {
  width: 100px;
  height: 50px;
  background-color: red;
}
