body {
  padding: 0;
  margin: 0;
}
header {
  margin-top: 25px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.nav_items {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.nav_items li {
  list-style: none;
}
.nav_items a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.search > input {
  font-size: 15px;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
}
.nav-site {
  font-size: 24px;
}
.bottom-header {
  width: 1440px;
  margin-top: 55px;
  margin-left: 25px;
}
.content {
  margin-top: 60px;
  width: 1440px;
  display: flex;
  justify-content: space-evenly;
}
.left {
}
.choice {
  margin-top: 60px;
  display: flex;
  width: 460px;
  justify-content: space-evenly;
}
.name-product {
  font-size: 48px;
}
.name-product > span {
  font-size: 15px;
}
.star {
  margin: 25px 15px 0 0px;
}
.reviews {
  font-size: 15px;
}
.price {
  margin-top: 25px;
  font-size: 36px;
}
.price > span {
  font-size: 18px;
}
.color,
.size {
  margin-top: 25px;
  font-size: 18px;
}
.button {
  margin-top: 30px;
}
.btn-add {
  width: 300px;
  height: 55px;
  font-size: 22px;
  background-color: #a04955;
  color: #ffffff;
  cursor: pointer;
}
.btn-add-wish {
  width: 300px;
  height: 55px;
  font-size: 22px;
  background-color: #fff;
  color: #a04955;
  cursor: pointer;
}
