header {
  margin: 25px auto;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.nav_items {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.nav_items li {
  list-style: none;
}
.nav_items a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.search > input {
  font-size: 15px;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
}
.delete {
  cursor: pointer;
}
.cart-product-description {
  width: 300px;
}
.cart-products {
  padding: 25px;
  width: 1200px;
  margin: 50px auto;
  background-color: rgba(196, 179, 179, 0.2);
}
.cart-product-img img {
  width: 200px;
  height: 200px;
}
.cart-products-table {
  width: 1440px;
  margin: 50px auto;
}

.cart-about-product {
  display: flex;
  padding: 20px;
  font-size: 26px;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 135px;
  height: 35px;
  font-size: 14px;
  background-color: #a04955;
  color: #ffffff;
  cursor: pointer;
}
.buy {
  display: flex;
  justify-content: flex-end;
}
